/* HEADER */
header {
  width: 100%;
  height: 8.8rem;
  background-color: var(--gray-colors-800);
  display: flex;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu-mobile {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  margin-right: 3.2rem;
}

header nav ul li:not(:first-child) {
  margin-left: 3.2rem;
}

header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

/* SECTION HERO */
.s-hero {
  padding: 7.2rem 0rem;
}

.s-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-hero .text {
  width: 100%;
  max-width: 64rem;
}

.s-hero .text h1 {
  margin-bottom: 2rem;
}

.s-hero .text p {
  margin-bottom: 5.6rem;
  max-width: 48.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray-colors-300);
}

.s-hero .text .btn-primary {
  padding: 1.7rem 3.7rem;
}

.s-hero .image {
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  background-color: var(--gray-colors-800);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION CARD FEATURED */
.s-card-featured {
  background-color: var(--gray-colors-100);
  padding: 10.4rem 0 12rem;
}

.s-card-featured .main-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 12.5rem;
}

.s-card-featured .title {
  display: flex;
  flex-direction: column;
}
.s-card-featured .title p {
  margin-top: 0.8rem;
}

.s-card-featured .title.center {
  align-items: center;
}

.s-card-featured p {
  color: var(--white-colors-text);
}

.s-card-featured .all-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.s-card-featured .all-cards .card {
  background-color: rgba(28, 29, 31, 0.5);
  width: 100%;
  max-width: 38.4rem;
  height: 38.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.4rem;
}

.s-card-featured .all-cards .card.white {
  background-color: var(--white);
}

.s-card-featured .all-cards .card.white h3 {
  color: var(--gray-colors-100);
}

.s-card-featured .all-cards .card.white p {
  color: var(--gray-colors-300);
}

.s-card-featured .all-cards .card .info {
  margin-top: 4rem;
  max-width: 28.8rem;
}

.s-card-featured .all-cards .card .info h3 {
  text-align: center;
}

.s-card-featured .all-cards .card .info p {
  text-align: center;
  margin-top: 0.8rem;
  line-height: 150%;
}
