/* HEADER */
header {
  width: 100%;
  height: 8.8rem;
  background-color: var(--gray-colors-800);
  display: flex;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu-mobile {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  margin-right: 3.2rem;
}

header nav ul li:not(:first-child) {
  margin-left: 3.2rem;
}

header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

/* SECTION HERO */
.s-hero {
  padding: 7.2rem 0rem;
}

.s-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-hero .text {
  width: 100%;
  max-width: 64rem;
}

.s-hero .text h1 {
  margin-bottom: 2rem;
}

.s-hero .text p {
  margin-bottom: 5.6rem;
  max-width: 48.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray-colors-300);
}

.s-hero .text .btn-primary {
  padding: 1.7rem 3.7rem;
}

.s-hero .image {
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  background-color: var(--gray-colors-800);
  display: flex;
  justify-content: center;
  align-items: center;
}
